* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ^style morad */
.nav_m {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    color: black;
    height: 8vh;
    font-weight: bold;
}

.nav_m a {
    text-decoration: none;
    font-weight: bold;
}

.nav_m a:hover{
    color: #6d48e5;
}

.array_m {
    color: #6d48e5;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    transition: 1s;
}

.nav2_m {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button_m {
    border-radius: 3px;
    height: 30px;
    width: 10vw;
}

.button_m a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.button_m a:hover{
    color: #0e052d;
}

.button2_m {
    border-radius: 5px;
    height: 6vh;
    width: 15vw;
    color: white;
    font-weight: bold;
}

.section_m {
    text-align: center;
    height: 80vh;

}

.section_m h3 {
    color: grey;
}

.section_m h1 {
    color: rgb(74, 73, 73);
}

.image_morad {
    width: 50vw;
    margin-top: 30px;
}

/* ^end style morad */


/* !style yahia */
.first_sec_y {
    height: 620px;
    background-color: #6d48e510;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.text_1_y {
    margin-top: 60px;
    text-align: center;
}

.first_part {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 75vw;
    justify-content: space-evenly;
}

.second_part {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    width: 75vw;
    justify-content: space-evenly;
}

.parts_y{
    text-align: center;
}
.parts_y img {
    width: 60px;
}

.second_sec_y {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 20px;

}

.part_1 {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.part_2 {
    display: flex;
    flex-direction: row;
    gap: 80px;

}

.second_sec_y a {
    color: black;
    text-decoration: none;
}

.second_sec_y .link_y {
    text-decoration: underline;
}

.parag_y {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
.titre_y{
    text-align: center;
}

/* !end style yahia */

/* *style achraf */

/* *section achraf 1 */
.container {
    background-color: #6d48e5;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
}

.h_p {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-evenly;
}

.pourcentage {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
}

.pourcentage_1 {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pourcentage_1 h1 {
    font-size: 50px;
    animation: aaa 4s infinite alternate-reverse;
}

@keyframes aaa{
    0%{
        font-size: 50px ;
    }
    25%{
        font-size: 62px ;
    }
    50%{
        font-size: 64px ;
    }
    75%{
        font-size: 62px ;
    }
    100%{
        font-size: 50px ;
    }
}

.pourcentage_1 p {
    font-size: 10px;
    animation: aaaa 4s infinite alternate-reverse;
}

@keyframes aaaa{
    0%{
        font-size: 10px ;
    }
    25%{
        font-size: 12px ;
    }
    50%{
        font-size: 14px ;
    }
    75%{
        font-size: 12px ;
    }
    100%{
        font-size: 10px ;
    }
}


.container>a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

/* *end section achraf 1 */

/* *section achraf 2 */

.second_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.icon img {
    width: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    height: 46vh;
    justify-content: space-evenly;
}

.for_icon {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
}

.left {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
}

.right img {
    width: 60vh;
}

/* *end section achraf 2 */

/* *footer achraf */
footer {
    background-color: #6d48e510;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-evenly;
    text-align: center;
}

.h_p_footer p {
    font-size: x-small;
    color: grey;
}

.put_email {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
    width: 20vw;
}

input,
button {
    height: 5vh;
}

input::placeholder {
    padding-left: 20px;
    font-size: x-small;
}

button {
    background-color: #6d48e5;
    border: 0px;
    border-radius: 2px;
}

.put_email button a {
    text-decoration: none;
    color: white;
}

.put_email p {
    font-size: x-small;
    color: grey;
}

.nav_footer {
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
}

.nav_footer a {
    text-decoration: none;
    color: #6d48e5;
    font-weight: bold;
}

.nav_footer p {
    font-size: small;
    color: gray;
    padding-left: 215px;
}

.links_footer {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
}

/* *end footer achraf */

/* *end style achraf */